[Unit]
Description=Run Hygo ClickHouse backup daily

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true
RandomizedDelaySec=20m
Unit=hygo-clickhouse-backup.service

[Install]
WantedBy=timers.target

